<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>


<section class="layout-content" layout:fragment="corpo">

    <div class="container mt-4">
        <h2>Funcionários em Férias</h2>
        <div th:if="${!funcionariosEmFerias.isEmpty()}">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Início</th>
                    <th>Data de Fim</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ferias : ${funcionariosEmFerias}">
                    <td th:text="${ferias.funcionario.nome}"></td>
                    <td th:text="${ferias.inicioFerias}"></td>
                    <td th:text="${ferias.fimFerias}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${!funcionariosEmFerias.isEmpty()}">
            <p>Nenhum funcionário em férias no momento.</p>
        </div>
    </div>

</body>
</html>












<!-- Conteúdo omitido para brevidade -->


