<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>


<section class="layout-content" layout:fragment="corpo">

    <div class="container" id="cadastro">
        <form th:action="@{/ferias/registrar}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="funcionario">Funcionário</label>
                    <select id="funcionario" class="form-control" name="funcionarioId">
                        <option value="">Selecione o Funcionário</option>
                        <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="dataInicio">Data de Início</label>
                    <input type="date" class="form-control" id="dataInicio" name="dataInicio"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Registrar Férias</button>
        </form>
    </div>

</section>


</body>
</html>




















<!-- Conteúdo omitido para brevidade -->


